@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root {
    --primary-color:  #2B8A7F;
    --secundary-color:#5F183A;
    --third-color:    #fff;
    --form:           #eef2f6;
}

::selection{
	background-color: #2B8A7F;
	color: white;
}
/* formularios */
.body{
    font-family: 'Roboto';
    font-size: 16px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
body{
    background-color: var(--primary-color);

}

.frm-login{
    display: flex;
    flex-direction: column;
background-color: var(--form);
padding: 2rem 2.5rem;
box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.6);
border-radius: 0.5rem;
}

.titulo{
    text-align: center;
    margin-bottom: 3rem;
}

.frm-label{
    color: var(--secundary-color);
    text-align: center;
    margin-bottom: 2rem;

}

.frm-input{
    text-align: center;
    height: 2.5rem;
    outline: none;
    border: none;
    border-bottom: solid 1px var(--primary-color);
    width: 100%;
}
.rad{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 40px;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.btn1{
    border: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 54, 54);
}
.btn1:hover{
    border: none;
    background-color: #2dcdba;
    color: var(--third-color);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 182, 182) ;
    border: solid 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 400px;
    height: 80px;
    font-size: 30px;
    font-family: roboto;

}


.btn2{
    background-color: transparent ;
    border: solid 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn2:hover{
    background-color: transparent ;
    border: solid 2px;
    border-color:  #e9594f;;
    color:  #e9594f;;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}
.letra{
    color: black;
}

.principal{
    display: flex;

}



/* tabla de principal  */
#cabecera {
    background-color: #c4e1b3;
    width: 1300;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    margin-left: 1%;
}

.img {
    background-color: #dedede;
    width: 1300;
    height: 100px;
    padding: 20px;
}
table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 30%;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, Geneva, sans-serif;
}
thead{
    background-color: #c4e1b3;
    color: black;
}
th, td{
    padding: 10px;
}
th{
    border: 1px solid #000;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
}
td{
    font-size: 12px;
    border: 1px solid #000;
}
#searchTerm{
    margin-left: 40%;
    width: 13%;
    height: 23px;
    align-self: center;
}
.rad{
    width: 70px;
    height: 70px;
}
.input-hidden{
    position: absolute;
    left: -9999px;
}
.im{
    border-radius: 60px;
}
input[type=radio]:checked + label>img{
    border: 5px solid #090;
    box-shadow: 0 0 3px 3px #090;
}
input[type=radio] + label>img{
    width: 80px;
    height: 80px;
    transition: 500ms all;
}

